<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chatbot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <div class="bhuvan">
        <img src="{% static 'images/bhuvan-logo.png' %}" id="img">
        <div>
        <img src="{% static 'images/g24_new.png' %}" id="img3">
        <img src="{% static 'images/nrsc_logo.png' %}" id="img2">
        </div>
    </div>
    <div class="navbar">
            <div class="options">Home</div>
            <div class="options">NRSC</div>
            <div class="options">Application Sectors</div>
            <div class="options">Bhuvan Collaborators</div>
            <div class="options">Search</div>
            <div class="options">Bhuvan Store</div>
            <div class="options">Contact Us</div>
            <div class="options">Newsletter</div>
            <div class="options">Wiki</div>
    </div>
    <div><img src="{% static 'images/BhuvanGenesis2.jpg' %}" id="main-img"></div>
    <div class="con1">
        <p id="l1">Visualization and Free Download</p>
        <p id="l2">Collaborative applications - Platform to share your data and create governance applications</p>
    </div>
    <div class="grid-con">
        <div class="cards c1"><img src="{% static 'images/2dnew.png' %}" class="cimg">
            <div class="text-container"><p>Bhuvan 2D</p></div></div>
        <div class="cards "><img src="{% static 'images/3dnew.png' %}"" class="cimg"><div class="text-container"><p>Bhuvan 3D</p></div></div>
        <div class="cards"><img src="{% static 'images/bhuvanlite.png' %}" class="cimg"><div class="text-container"><p>Bhuvan Lite</p></div></div>
        <div class="cards"><img src="{% static 'images/odcnew.png' %}" class="cimg"><div class="text-container"><p>Open Data Archive</p></div></div>
        <div class="cards"><img src="{% static 'images/cecnew.png' %}" class="cimg"><div class="text-container"><p>Climate & Environment</p></div></div>
        <div class="cards c2"><img src="{% static 'images/bhoonidhi.png' %}" class="cimg"><div class="text-container"><p>Bhoonidhi VISTA</p></div></div>
    </div>

    <header>
    <button class="chatbot-toggler">
      <span class="material-symbols-rounded">mode_comment</span>
      <span class="material-symbols-outlined">close</span>
    </button>
    <div class="chatbot">
      <header>
        <h2>Saarthi</h2>
      </header>
      <div class="chatbox">
      </div>
      <div class="chat-input">
        <button id="recordButton">Record</button>
        <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
        <button id="send-btn" class="material-symbols-rounded">send</button>
        <div id="loadingIndicator">
        <span class="loading-dot"></span><span class="loading-dot"></span><span class="loading-dot"></span>
        </div>
        </div>
    </div>
  </body>
</html>
